body {
  margin: 0vw;
  font-family: "Pacifico", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edge {
  height: 80vh;
  width: 80vw;
  margin: 0vh 10vw 0vh 10vw;
  padding: 0vh 0vw 10vh 0vw;
  background-color: red;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2vw;
  border: rgba(138, 0, 0, 0.972) solid 0.2vw;
}
.pre-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55vw;
}
h1 {
  text-align: center;
  margin: 0.5vh 0.5vw 0vh 0.5vw;
  -webkit-text-stroke: darkgoldenrod 0.01vw;
  color: gold;
}
button {
  width: 6rem;
  height: 3rem;
  margin: 0.8vh 2vw 2vh 2vw;
  border-radius: 0.6vw;
  border: gray solid 0.1vw;
}
.container {
  height: 55vh;
  /* margin: 0px 100px 50px 100px; */
  /* margin: 0vh 10vw 50vh 10vw; */
  width: 55vw;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: white;
}
.row,
.column {
  display: flex;
  flex: 1;
  height: auto;
  width: auto;
}
.column {
  flex-direction: column;
  border: black solid 0.1vw;
}

.row {
  border-top: black solid 0.1vw;
  border-bottom: black solid 0.1vw;
}
